<div class="container">
  <br/>
  <form #formRef="ngForm">

<!--input area for name: [(ngModel)] two way biding  -->
      <div class="form-group">
        <label for = "problemName"> Problem Name</label>
          <input name= "problemname" id="problemname" class = "form-control"
          type="text" required placeholder="please enter problem name"
          [(ngModel)]="newProblem.name">
    </div>

    <!--textarea for problem description  -->

    <div class="form-group">
      <label for = "problemDesc"> Problem Description</label>
      <textarea name= "problemDesc" id="problemDesc" class = "form-control"
      type="text" required placeholder="please enter problem description." [(ngModel)]="newProblem.desc"
      row="3">
      </textarea>
  </div>

  <!-- input arear for difficulty -->
      <div class="form-group">
        <label for = "problemDiff"> Difficulty </label>
        <div>
          <select name= "form-control" id="difficulty" name = "difficulty"
          [(ngModel)]="newProblem.difficulty">
          <option *ngFor="let difficulty of difficulties" [value]="difficulty">
          {{difficulty}}
        </option>
      </select>
      </div>
    </div>

  <!-- add button -->
  <div class = "row">
    <div class = "col-md-12">
      <button type ="submit" class="btn btn-primary pull-right"
      (click)="addProblem()">
    Add Problem  </button>
    </div>
  </div>
</form>
</div>
<br/>
<br/>
